<%= render partial: "/top/body_headar" %>
<div class="container">
  <div class="row">
     <div class="span13">
       <div id="page_num" value="<%= @shows.num_pages %>">
       <%= form_tag({:controller => "top",:action => "index"},{:method => "get"}) do %>
         <%= hidden_field_tag("page", @page.to_i + 1)%>
         <%= hidden_field_tag("tag_id", @tag_id)%>
         <%= submit_tag "Next Movies", :class => "btn btn-xlarge btn-block", :id => "next_page_btn" %>
       <% end %>
     </div>
  <div class="row">
    <div class="span13">
      <blockquote>
      <%= @tag_id.blank? ? "<span style='margin-right: 20px;'>新着</span>".html_safe : link_to("新着", "/", :style => "margin-right: 20px;") %>
      <% @tags.each do |tag| %>
        <% if tag.id == @tag_id.to_i%>
          <h2 style="margin-right: 20px;display:inline;"><%= tag.tag %></h2>
        <% else %>
          <%= link_to tag.tag, tag_path(tag), :style => "margin-right: 20px;" %>
        <% end %>
      <% end %>
      </blockquote>
    </div>
  </div>
     
     <div class="span6" id="show_detail">
     </div>
     <div class="span7">
        <div id="listview" class="listview grid-layout">
          <%= render partial: "/top/thumb_list_smart_phone" %>
        </div>
     </div>
  </div>
</div>
<%= render partial: "/top/body_footar" %>
