<%= paginate @shows %>
<% @shows.each_with_index do |show, i| %>
  <%= form_tag("/blogs") do |f| %>
    <%= check_box_tag "check[#{show.id}]", 0,1,{:style => "display:none"} %>
    <div id="<%= show.id %>" class="review_thumb">
      <% case show.site%>
      <% when XVIDEOS %>
        <% (1..20).each do |i| %>
          <%= image_tag("#{show.thumbnail_url.gsub(/\.[\d]*\.jpg$/, "")}.#{i}.jpg", :size => "180x135", :style => (i == 1 ? "" : "display:none")) %>
        <% end %>
      <% when SPANKWIRE %>
        <% (1..10).each do |i| %>
          <%= image_tag("#{show.thumbnail_url.gsub(/\/[\d]*\.jpg$/, "")}/#{i}.jpg", :size => "180x135", :style => (i == 1 ? "" : "display:none")) %>
        <% end %>
      <% when TUBE8 %>
        <% (1..16).each do |i| %>
          <%= image_tag("#{show.thumbnail_url.gsub(/\/[\d]*\.jpg$/, "")}/#{i}.jpg", :size => "180x135", :style => (i == 1 ? "" : "display:none")) %>
        <% end %>
      <% when TOKYOTUBE %>
        <% (1..10).each do |i| %>
          <%= image_tag("#{show.thumbnail_url.gsub(/\/[\d]*\.jpg$/, "")}/#{i}.jpg", :size => "180x135", :style => (i == 1 ? "" : "display:none")) %>
        <% end %>
      <% when ASG %>
        <% (0..25).each do |i| %>
          <%= image_tag("#{show.thumbnail_url}#{i}", :size => "180x135", :style => (i == 1 ? "" : "display:none")) %>
        <% end %>
      <% end %>
    </div>
    タイトル：<%= text_field_tag :title,"",:size => '80' %><br/>
    記事：<%= text_area_tag :content,"",:size => '255' %>
    <%= submit_tag "レビュー内容記載" %><br/>
  <% end %>
<% end %>
<%= paginate @shows %>
